mat-toolbar {
    display: flex;
    justify-content: space-between;
}

mat-toolbar a {
    font-weight: 300;
    cursor: pointer;
}

mat-toolbar i {
    margin-right: 5px;
    vertical-align: middle;
}